{
	"GlewlwydApiUrl": "http://localhost:4593/api",
  "ProfileUrl": "http://localhost:4593/profile.html",
  "AdminUrl": "http://localhost:4593/index.html",
  "LoginUrl": "http://localhost:4593/login.html"
}
