{
  "GlewlwydUrl": "./",
  "ProfileUrl": "profile.html",
  "AdminUrl": "index.html",
  "LoginUrl": "login.html",
  "CallbackPage": "callback.html",
  "PasswordMinLength": 8,
  "lang": ["en","fr","nl"],
  "pattern": {
    "user": [{
      "name": "username",
      "edit": false,
      "label": "admin.user-username",
      "placeholder": "admin.user-username-ph",
      "forceShow": true,
      "required": true,
      "profile-read": true,
      "profile-write": false
    },{
      "name": "password",
      "type": "password",
      "profile": false,
      "edit": true,
      "label": "admin.user-password",
      "placeholder": "admin.user-password-ph",
      "placeholderConfirm": "admin.user-password-confirm-ph",
      "forceShow": true,
      "required": true,
      "profile-read": false,
      "profile-write": false
    },{
      "name": "name",
      "profile": true,
      "edit": true,
      "forceShow": true,
      "label": "admin.user-name",
      "placeholder": "admin.user-name-ph",
      "profile-read": true,
      "profile-write": true
    },{
      "name": "email",
      "edit": true,
      "forceShow": true,
      "label": "admin.user-email",
      "placeholder": "admin.user-email-ph",
      "profile-read": true,
      "profile-write": false
    },{
      "name": "picture",
      "list": false,
      "type": "image/jpeg",
      "forceShow": true,
      "edit": true,
      "label": "admin.user-picture",
      "profile-read": true,
      "profile-write": false
    },{
      "name": "scope",
      "list": true,
      "forceShow": true,
      "edit": true,
      "label": "admin.user-scope",
      "profile-read": true,
      "profile-write": false
    },{
      "name": "enabled",
      "type": "boolean",
      "defaultValue": true,
      "forceShow": true,
      "edit": true,
      "label": "admin.user-enabled"
    }],
    "client": [{
      "name": "client_id",
      "edit": false,
      "forceShow": true,
      "label": "admin.client-clientid",
      "placeholder": "admin.client-clientid-ph",
      "required": true
    },{
      "name": "name",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-name",
      "placeholder": "admin.client-name-ph"
    },{
      "name": "confidential",
      "edit": true,
      "defaultValue": false,
      "forceShow": true,
      "type": "boolean",
      "label": "admin.client-confidential"
    },{
      "name": "client_secret",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-secret",
      "placeholder": "admin.client-secret-ph"
    },{
      "name": "password",
      "type": "password",
      "profile": false,
      "edit": true,
      "forceShow": true,
      "label": "admin.client-password",
      "placeholder": "admin.client-password-ph",
      "placeholderConfirm": "admin.client-password-confirm-ph"
    },{
      "name": "jwks",
      "type": "jwks",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-jwks",
      "placeholder": "admin.client-jwks-ph"
    },{
      "name": "jwks_uri",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-jwks_uri",
      "placeholder": "admin.client-jwks_uri-ph"
    },{
      "name": "pubkey",
      "type": "file",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-pubkey"
    },{
      "name": "enc",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-enc",
      "placeholder": "admin.client-enc-ph",
      "listElements": ["A128CBC-HS256","A192CBC-HS384","A256CBC-HS512","A128GCM","A256GCM"]
    },{
      "name": "alg",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-alg",
      "placeholder": "admin.client-alg-ph",
      "listElements": ["RSA1_5","dir","A128GCMKW","A192GCMKW","A256GCMKW"]
    },{
      "name": "alg_kid",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-alg_kid",
      "placeholder": "admin.client-alg_kid-ph"
    },{
      "name": "encrypt_code",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-encrypt_code",
      "listElements": ["admin.no","admin.yes"]
    },{
      "name": "encrypt_at",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-encrypt_at",
      "listElements": ["admin.no","admin.yes"]
    },{
      "name": "encrypt_userinfo",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-encrypt_userinfo",
      "listElements": ["admin.no","admin.yes"]
    },{
      "name": "encrypt_id_token",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-encrypt_id_token",
      "listElements": ["admin.no","admin.yes"]
    },{
      "name": "encrypt_refresh_token",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-encrypt_refresh_token",
      "listElements": ["admin.no","admin.yes"]
    },{
      "name": "scope",
      "list": true,
      "edit": true,
      "forceShow": true,
      "label": "admin.client-scope"
    },{
      "name": "redirect_uri",
      "list": true,
      "edit": true,
      "forceShow": true,
      "label": "admin.client-redirect-uri",
      "placeholder": "admin.client-redirect-uri-ph"
    },{
      "name": "authorization_type",
      "list": true,
      "edit": true,
      "forceShow": true,
      "label": "admin.client-authorization-type",
      "listElements": ["code","token","id_token","password","none","client_credentials","refresh_token","delete_token","device_authorization"]
    },{
      "name": "sector_identifier_uri",
      "edit": true,
      "forceShow": true,
      "label": "admin.client-sector-identifier-uri",
      "placeholder": "admin.client-sector-identifier-uri-ph"
    },{
      "name": "enabled",
      "type": "boolean",
      "defaultValue": true,
      "edit": true,
      "forceShow": true,
      "label": "admin.client-enabled"
    }]
  },
  "defaultScheme": "",
  "sessionSchemes": [
  ],
  "profilePicture": {
    "property": "picture",
    "type": "image/jpeg"
  },
  "register": [
  ],
  "register-complete": [
  ],
  "providerMainstreamList": [
    {
      "help_url": "https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow/",
      "name": "Facebook",
      "logo_fa": "fab fa-facebook",
      "provider_type": "oauth2",
      "response_type": "code",
      "userinfo_endpoint": "https://graph.facebook.com/v5.0/me",
      "auth_endpoint": "https://www.facebook.com/v5.0/dialog/oauth",
      "token_endpoint": "https://graph.facebook.com/v5.0/oauth/access_token",
      "userid_property": "id"
    },
    {
      "help_url": "https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/",
      "name": "GitHub",
      "logo_fa": "fab fa-github",
      "provider_type": "oauth2",
      "response_type": "code",
      "userinfo_endpoint": "https://api.github.com/user",
      "auth_endpoint": "https://github.com/login/oauth/authorize",
      "token_endpoint": "https://github.com/login/oauth/access_token",
      "scope": "read:user",
      "userid_property": "id"
    },
    {
      "help_url": "https://docs.gitlab.com/ee/integration/oauth_provider.html",
      "name": "GitLab",
      "logo_fa": "fab fa-gitlab",
      "provider_type": "oauth2",
      "response_type": "code",
      "userinfo_endpoint": "https://gitlab.com/api/v4/user",
      "auth_endpoint": "https://gitlab.com/oauth/authorize",
      "token_endpoint": "https://gitlab.com/oauth/token",
      "scope": "read_user profile",
      "userid_property": "id"
    },
    {
      "help_url": "https://developers.google.com/identity/protocols/OAuth2",
      "name": "Google",
      "logo_fa": "fab fa-google",
      "provider_type": "oidc",
      "response_type": "code",
      "config_endpoint": "https://accounts.google.com/.well-known/openid-configuration"
    },
    {
      "help_url": "https://developer.yahoo.com/oauth2/guide/openid_connect/getting_started.html",
      "name": "Yahoo",
      "logo_fa": "fab fa-yahoo",
      "provider_type": "oidc",
      "response_type": "code",
      "config_endpoint": "https://api.login.yahoo.com/.well-known/openid-configuration"
    },
    {
      "help_url": "https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code#register-your-application-with-your-ad-tenant",
      "name": "Microsoft",
      "logo_fa": "fab fa-microsoft",
      "provider_type": "oidc",
      "response_type": "code",
      "config_endpoint": "https://login.microsoftonline.com/{tenantid}/.well-known/openid-configuration"
    }
  ]
}
