{
  "module":"database",
  "name":"mod_irl",
  "display_name":"Database",
  "order_rank":1,
  "parameters":{
    "use-glewlwyd-connection":true,
    "data-format":{
      "redirect-uri":{"multiple":true,"read":true,"write":true},
      "jwks":{"multiple":false,"read":true,"write":true,"convert":"jwks"}
    }
  },
  "readonly":false,
  "enabled":true
}
