*.o
*.so
*.key
*.crt
*.pfx
*.csr
*.crl
*.pem
*.der
*.log
*.err
*.so
/*.conf
valgrind.txt
glewlwyd
webapp/test-*.html
webapp-src/test-*.html
webapp-src/node_modules
webapp-src/output
webapp-src/yarn.lock
webapp-src/package-lock.json
webapp-src/config.json
.git
.github
