#
#
# Glewlwyd OAuth2 Authorization Server
#
# Copyright 2016 Nicolas Mora <mail@babelouest.org>
# Gnu Public License V3 <http://fsf.org/>
#
#

# port to open for remote commands
port=4593

# url prefix
url_prefix="glewlwyd"

# path to static files for /webapp url
static_files_path="/var/www/"

# static files prefix
static_files_prefix = "app"

# mime types for static files
static_files_mime_types =
(
  {
    extension = ".html"
    type = "text/html"
  },
  {
    extension = ".css"
    type = "text/css"
  },
  {
    extension = ".js"
    type = "application/javascript"
  },
  {
    extension = ".png"
    type = "image/png"
  },
  {
    extension = ".jpg"
    type = "image/jpeg"
  },
  {
    extension = ".jpeg"
    type = "image/jpeg"
  },
  {
    extension = ".ttf"
    type = "font/ttf"
  },
  {
    extension = ".woff"
    type = "font/woff"
  },
  {
    extension = ".woff2"
    type = "font/woff2"
  },
  {
    extension = ".map"
    type = "application/octet-stream"
  }
)

# access-control-allow-origin value
allow_origin="*"

# log mode (console, syslog, file)
log_mode="console"

# log level: NONE, ERROR, WARNING, INFO, DEBUG
log_level="DEBUG"

# output to log file (required if log_mode is file)
log_file="/tmp/glewlwyd.log"

# use scope for access control (default false)
use_scope=true

# refresh token expiration in seconds, default is 2 weeks
refresh_token_expiation=1209600

# access token expiration in seconds, default is 1 hour
access_token_expiration=3600

# session expiration, default is 4 weeks
session_expiration=2419200

# session key
session_key="GLEWLWYD_SESSION_ID"

# admin scope name
admin_scope="g_admin"

# code expiration in seconds, default is 10 minutes
code_expiration=600

# TLS/SSL configuration values
use_secure_connection=false
secure_connection_key_file=cert.key
secure_connection_pem_file=cert.pem

# MariaDB/Mysql database connection
database =
{
  type = "mariadb";
  host = "localhost";
  user = "glewlwyd";
  password = "glewlwyd";
  dbname = "glewlwyd";
  port = 0;
};

# SQLite database connection
# database =
# {
#    type = "sqlite3";
#    path = "/tmp/glewlwyd.db";
# };

# Authentication configuration
authentication =
{

   database_auth  = true
   
   ldap_auth      = true
   uri            = "ldap://localhost"
   bind_dn        = "cn=operator,dc=example,dc=org"
   bind_passwd    = "password"
   
   base_search    = "ou=users,dc=example,dc=org"
   login_property = "uid"
   filter         = "&((o=oauth)(o=user))"
   scope_property = "o"
   email_property = "mailbox"
   name_property  = "displayName"
   
#   base_search_user    = "ou=users,dc=example,dc=org"
#   login_property_user = "uid"
#   filter_user         = "&((o=oauth)(o=user))"
#   scope_property_user = "o"
#   email_property_user = "mailbox"
#   name_property_user  = "displayName"
   
#   base_search_client    = "ou=private,dc=example,dc=org"
#   login_property_client = "uid"
#   filter_client         = "&((o=oauth)(o=client))"
#   scope_property_client = "o"
#   name_property_client  = "displayName"
}

# jwt parameters
jwt =
{
   # Use RSA algorithm to sign tokens (asymetric)
   use_rsa = false
   
   # path to the key (private) certificate file to sign tokens
   rsa_key_file = "private.key"
   
   # path to the public certificate file to validate signatures
   rsa_pub_file = "public.pem"
   
   # Use SHA algorithm to sign tokens (symetric)
   use_sha = true
   
   # characters used to generate and validate the token
   sha_secret = "secret"
   
}
