.btn-icon {
  margin-right: 5px;
}
.btn-icon-right {
  margin-left: 5px;
}
.error-input {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
.img-thumb {
  width: 100%;
  max-width: 50px;
  height: 100%;
  max-height: 50px;
}
.img-medium {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 100px;
}
.input-hidden {
  position: absolute;
  left: -9999px;
}
.toast-container {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  background: white;
  z-index: 9999;
}
.perfect-centering {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
