[Unit]
Description=Glewlwyd OAuth2 authentication provider
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/glewlwyd/glewlwyd.conf
ExecStart=/usr/bin/glewlwyd --config-file=/etc/glewlwyd/glewlwyd.conf
User=pi
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=glewlwyd
